<div class="container">
<h1>My Task's</h1>
<% @tasks.each do |task| %>
  <div class="d-flex align-items-end">
    <div class="row ">
  <h3>
    <% if task.completed == 1%>
      <i class="far fa-check-square"></i>
    <% else %>
      <i class="far fa-square"></i>
    <% end %>
    <%= link_to task_path(task) do %>
      <%= task.title.capitalize %>
    <% end %>
  </h3>
  <p><%= link_to delete_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
     <i class="far fa-trash-alt"></i>
      <%=  %>
     <% end %>
  </p>
  </div>
  </div>
<% end %>

<h3 class="create"><%= link_to "Create a new task", new_path %></h3>
</div>
